* {
  box-sizing: border-box;
}

body
{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top, #0f2027, #060d10);
  color: white;
  scroll-behavior: smooth;
}
  
/*navbar*/
nav
{
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: 0.4s;
}

nav.scrolled
{
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
}

nav ul
{
  list-style: none;
  display: flex;
  gap: 25px;

}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  transition: transform 0.3s ease;
}

nav a:hover {
  transform: scale(1.1);
}


/* HERO */
.hero
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1
{
  font-size: 7.5em;
  font-weight: 600;
  font-family: "gabriola", serif;
}

.hero p
{
  font-size: 2.3em;
  opacity: 0.85;
  margin-top: -90px;
  font-weight: 520;
  font-family: "gabriola", serif;
}

/* SEZIONI */
.section
{
  display: flex;
  align-items: stretch;
  gap: 60px;
  padding: 120px 10%;
  font-size: 18px;
}

.section.reverse
{
  flex-direction: row-reverse;
}

.section img
{
  width: 420px;
  border-radius: 25px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.6);
}

/* GLASS */
.glass
{
  margin: 150px auto;
  max-width: 800px;
  padding: 60px;
  background: rgba(255,255,255,0.08);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  text-align: center;
  font-style: italic;
  font-size: 17 px;
}

/* ANIMAZIONI */
.reveal
{
  opacity: 0;
  transform: translateY(80px);
  transition: 2.5s ease;
}

.reveal.active
{
  opacity: 1;
  transform: translateY(0);
}

/* FOOTER */
footer
{
  text-align: center;
  padding: 50px;
  opacity: 0.6;
}

/* TEAM */
.team-section
{
  padding: 140px 10%;
  text-align: center;
}

.team-section h2
{
  font-size: 3em;
  margin-bottom: 10px;
}

.team-subtitle
{
  opacity: 0.7;
  margin-bottom: 70px;
}

.team-cards
{
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.team-card
{
  width: 300px;
  padding: 35px;
  background: rgba(255,255,255,0.08);
  border-radius: 25px;
  backdrop-filter: blur(20px);
  box-shadow: 0 30px 60px rgba(0,0,0,0.4);
  transition: transform 0.4s, box-shadow 0.4s;
}

.team-card:hover
{
  transform: translateY(-15px) scale(1.03);
  box-shadow: 0 40px 80px rgba(0,0,0,0.6);
}

.team-card h3
{
  margin-bottom: 5px;
}

.team-card span
{
  display: block;
  font-size: 0.9em;
  opacity: 0.7;
  margin-bottom: 15px;
}

/*VISIONE*/
.vision
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  padding: 120px 10%;
  justify-content: center;
}

.vision-img
{
  flex: 1 1 400px; /* minima larghezza 400px */
  display: flex;
  justify-content: center;
}

.vision-img img
{
  width: 100%;       /* obbligatorio per farla vedere */
  max-width: 500px;  /* dimensione massima */
  height: auto;
  border-radius: 25px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.6);
}

.bg-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.comprarbanderas.es/images/banderas/400/21540-europa-paz_400px.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  opacity: 0.35;
  z-index: -2;
  transform: scale(1.1);
}

.btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.20);
  color: white;
  padding: 35px 150px;
  text-decoration: none;
  border-radius: 12px;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  transition: all 0.3s ease;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background: rgba(25, 118, 210, 0.9);
  transform: scale(1.05);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6);
}


.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


footer button {
  background-color: rgba(255, 255, 255, 0.10);
  color: white;
  border: 2px solid white;
  padding: 40px 80px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

footer button:hover {
  background-color: rgba(255, 255, 255, 0.10);
  transform: scale(1.05);
}